/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --main-title-weight: 785;
  --main-text-weight: 400;
  --main-font-size: 18px;
  --accent-font: "PressStart2P";
  --accent-title-size: clamp(3.0625rem, 2.7091rem + 1.5038vw, 4.0625rem);
  --accent-paragraph-size: clamp(0.875rem, 0.6762rem + 0.8459vw, 1.4375rem);
  --accent-font-size: 14px;
  --first-gradient: repeating-linear-gradient(
    to right,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --second-gradient: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --third-gradient: repeating-linear-gradient(
    to bottom,
    #e7e7e7,
    #e7e7e7 0.01%,
    #1a1a1a
  );
  --bg-color: #fff;
  --bg-color-hover: #000;
  --border-color: #000;
  --content-width: clamp(376px, 90%, 700px);
  --stroke-color: #ffffff;
  --contour-color: black;
  --sparks-fill-color: #ff0000;
}
